__pycache__
.DS_Store
.ipynb_checkpoints
dist
examples/outputs
model/dev
model/exp_multitask
model/exp_trainsize
manuscript/dev/
data/dev/
data/Database_IPGP.xlsx
dev/
figures/dev/
*.job
dev_*
compressed_files.tar.gz
src/bkg
build
imelt.egg-info
.conda

